@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
}

header {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.main-menu {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a {
    color: black;
}
.main-menu .main-menu-element {
    list-style: none;
    padding: 0 1.5rem;
}

.main-menu .main-menu-element a:hover {
    color: #C0192A;
}



/* POUR RAJOUTER DES BORDURES SUR LE MENU */
.main-menu .main-menu-element:not(:last-child) {
    border-right: 1px solid black;
}

.accueil {
    background-image: url(../img/banner.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    
}

.accueil img{
    width: 60%;
}

.accueil h2 {
    padding-top: 2rem;
    padding-bottom: 10%;

}

header h2 {
    display: flex;
    justify-content: center;
}



.banner h2 {
    display: flex;
    justify-content: center;
}

.banner p {
    font-size: 24px;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.intro h3 {
    font-size: 28px;
    padding: 1rem;
}

.intro p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;

}

.intro a {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.news {
    padding: 50px 20px;
}

.news h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.news-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

h4 {
    color: white;
    margin: 1rem;
    padding-top: 1rem;
}

.news-container article {
    width: 20rem;
    background-color: #282725;
    margin: 1rem;
}

.news-container img {
    display: block;
    width: 100%;
    
}


.news-container p {
    font-size: 16px;
    color: white;
    padding: 1rem;

}

footer {
    background-color: #292B2C;
    color: white;
    padding-top: 40px;

}

footer img {
    max-width: 100px;

}

.newsletter {
    text-align: center;
    margin-bottom: 30px;
}

.newsletter form {
    display: inline-block;
}

.newsletter input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-right: 10px;
    width: 250px;
}

.newsletter a {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
.img {
    display: flex;
    justify-content: space-around;
    background-color: black;
}
.legal ul {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
.legal {
    margin: 0px 15px;
    padding: 0px 10px;
    color: white;
    text-decoration: none;
    margin: 0 20px;
   

}

.legal a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
       
}
.lien a:hover {
    text-decoration: underline;
    color: red;
}

.legal a:hover {
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

.intro a:hover {
    background-color: black;
    color: rgb(255, 0, 0);
}

.newsletter a:hover {
    background-color: black;
    color: rgb(255, 0, 0);
}

@media screen and (max-width:963px) {

.legal ul {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
img {
    margin-bottom: 1rem;
}




    
}